In [73]:
import pandas as pd
import numpy as np

In [74]:
df=pd.read_excel("Book2.xlsx")

In [75]:
df

     post/region  northest  southest  midwest  west
0        finance        24        10        8    14
1  manufacturing        30         6       22    12
2  communication        28        18       12    16

In [76]:
df.columns

Index(['post/region', 'northest', 'southest', 'midwest', 'west'], dtype='object')

In [77]:
num_column=[]
for i in range(df.shape[1]):
    if df[df.columns[i]].dtypes!='O':
        num_column.append(df.columns[i])
        
        
num_column

['northest', 'southest', 'midwest', 'west']

In [78]:
sum(df.loc[0,num_column])

56

In [79]:
list1=[]
for i in range(df.shape[0]):
    list1.append(sum(df.loc[i,num_column]))
df['total']=list1
df

     post/region  northest  southest  midwest  west  total
0        finance        24        10        8    14     56
1  manufacturing        30         6       22    12     70
2  communication        28        18       12    16     74

In [80]:
dict1={df.columns[0]:'total'}
for i in range(1,df.shape[1]):
    dict1[df.columns[i]]=df[df.columns[i]].sum()
    

df = df.append(dict1, ignore_index = True)
dict1

{'post/region': 'total',
 'northest': 82,
 'southest': 34,
 'midwest': 42,
 'west': 42,
 'total': 200}

In [81]:
df

     post/region  northest  southest  midwest  west  total
0        finance        24        10        8    14     56
1  manufacturing        30         6       22    12     70
2  communication        28        18       12    16     74
3          total        82        34       42    42    200

In [82]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [83]:
c_list=['BLUE','PURPLE','CYAN','DARKCYAN','GREEN','YELLOW','RED']

In [87]:
while True:
    print(color.UNDERLINE + "Read the Instruction before enter a input" + color.END)
    print('\n'*1)
    print(color.DARKCYAN + color.BOLD +'For UNION Press 1' + color.END, ) 
    print(color.PURPLE + color.BOLD +'For INTERSECTION Press 2' + color.END, ) 
    print(color.CYAN + color.BOLD +'For PROBABILITY MATRIX Press 3' + color.END, )
    print(color.RED + color.BOLD +'For EXIT Press 4' + color.END, )
    
    print('\n'*1)
    x1=input("Your input = ")
    
    print(color.GREEN + color.BOLD +'For Intersection you have to choose two data' + color.END)
    print('\n'*1)
    if x1=='1' or x1=='2':
        for i in range(0,df.shape[0]-1):
            print(f"{getattr(color, c_list[i]) + color.BOLD} for {df.loc[i,df.columns[0]]} press: {i}")

        x2=int(input("Your input = "))
        print('\n'*1)


        if x2 in range(0,df.shape[0]-1):
            for i in range(1,df.shape[1]-1):
                print(f"{getattr(color, c_list[i]) + color.BOLD} for {df.columns[i]} press: {i}")

            x3=int(input("Your input = "))
            if x3 in range(1,df.shape[1]-1):
                x4=df.columns[x3]


                if x1=='1':
                    op=df.loc[df.shape[0]-1,x4] + df.loc[x2,df.columns[df.shape[1]-1]] - df.loc[x2,x4]
                    total=df.loc[df.shape[0]-1,df.columns[df.shape[1]-1]]
                    print(f"{color.BLUE + color.UNDERLINE} From the given data Union of {df.loc[x2,df.columns[0]]} and {df.columns[x3]} is {color.END} {color.BOLD + color.RED}{round(op/total,4)}{color.END}")
                    print("#"*70)
                    print('\n'*2)

                elif x1=='2':
                    op=df.loc[x2,x4]
                    total=df.loc[df.shape[0]-1,df.columns[df.shape[1]-1]]
                    print(f"{color.BLUE + color.UNDERLINE} From the given data Intersection of {df.loc[x2,df.columns[0]]} and {df.columns[x3]} is {color.END} {color.BOLD + color.RED}{round(op/total,4)}{color.END}")
                    print("#"*70)
                    print('\n'*2)



            else:
                print(color.RED + color.BOLD +'MAY BE SOME INVALIED INPUT' + color.END,)
        else:
            print(color.RED + color.BOLD +'MAY BE SOME INVALIED INPUT' + color.END,)
    elif x1=='3':
        pro_df=df.copy()
        num_column=[]
        for i in range(df.shape[1]):
            if df[df.columns[i]].dtypes!='O':
                num_column.append(df.columns[i])
        for col in num_column:
            total=df.loc[df.shape[0]-1,df.columns[df.shape[1]-1]]
            pro_df[col]=df[col]/total
        formatted_pro_df = pro_df.to_string(index=False)  # Convert DataFrame to string

        print(color.DARKCYAN + color.BOLD + formatted_pro_df + color.END)
        print('\n' * 2)
        
    
    elif x1=='4':
        print(color.GREEN + color.BOLD +'I THINK YOU GET YOUR ANSWER' + color.END,)
        print(color.GREEN + color.BOLD +'THANK YOU FOR CHECKING THIS CODE' + color.END,)
        print('\n'*2)
        break

    else:
        print(color.RED + color.BOLD +'MAY BE SOME INVALIED INPUT' + color.END,)
        print('\n'*2)

Read the Instruction before enter a input


For UNION Press 1
For INTERSECTION Press 2
For PROBABILITY MATRIX Press 3
For EXIT Press 4


Your input = 3
For Intersection you have to choose two data


  post/region  northest  southest  midwest  west  total
      finance      0.12      0.05     0.04  0.07   0.28
manufacturing      0.15      0.03     0.11  0.06   0.35
communication      0.14      0.09     0.06  0.08   0.37
        total      0.41      0.17     0.21  0.21   1.00



Read the Instruction before enter a input


For UNION Press 1
For INTERSECTION Press 2
For PROBABILITY MATRIX Press 3
For EXIT Press 4


Your input = 4
For Intersection you have to choose two data


I THINK YOU GET YOUR ANSWER
THANK YOU FOR CHECKING THIS CODE

In [33]:
while True:
    print(color.UNDERLINE + "Read the Instruction before entering input" + color.END)
    print('\n' * 1)
    print(color.DARKCYAN + color.BOLD + 'For UNION Press 1' + color.END)
    print(color.PURPLE + color.BOLD + 'For INTERSECTION Press 2' + color.END)
    print(color.RED + color.BOLD + 'For EXIT Press 3' + color.END)
    print('\n' * 1)
    x1 = input("Your input = ")

    def print_data_options():
        for i in range(df.shape[0]):
            print(f"for {df.loc[i, df.columns[0]]} press: {i}")

    if x1 == '1' or x1 == '2':
        print(color.GREEN + color.BOLD + 'For Intersection you have to choose two data' + color.END)
        print('\n' * 1)
        print_data_options()
        x2 = int(input("Your input = "))

        if x2 in range(df.shape[0]):
            for i in range(1, df.shape[1]):
                print(f"for {df.columns[i]} press: {i}")

            x3 = int(input("Your input = "))
            if x3 in range(1, df.shape[1]):
                x4 = df.columns[x3]

                if x1 == '1':
                    op = df.loc[df.shape[0] - 1, x4] + df.loc[x2, df.columns[df.shape[1] - 1]] - df.loc[x2, x4]
                    print(f"From the given data Union of {df.loc[x2, df.columns[0]]} and {df.columns[x3]} is {op / total}")
                elif x1 == '2':
                    op = df.loc[x2, x4]
                    print(f"From the given data Intersection of {df.loc[x2, df.columns[0]]} and {df.columns[x3]} is {op / total}")

                total = df.loc[df.shape[0] - 1, df.columns[df.shape[1] - 1]]
                print("#" * 50)
                print('\n' * 2)
            else:
                print(color.RED + color.BOLD + 'MAY BE SOME INVALID INPUT' + color.END)
        else:
            print(color.RED + color.BOLD + 'MAY BE SOME INVALID INPUT' + color.END)

    elif x1 == '3':
        print(color.GREEN + color.BOLD + 'I THINK YOU GOT YOUR ANSWER' + color.END)
        print(color.GREEN + color.BOLD + 'THANK YOU FOR CHECKING THIS CODE' + color.END)
        print('\n' * 2)
        break

    else:
        print(color.RED + color.BOLD + 'MAY BE SOME INVALID INPUT' + color.END)
        print('\n' * 2)

Read the Instruction before entering input


For UNION Press 1
For INTERSECTION Press 2
For EXIT Press 3


Your input = 1
For Intersection you have to choose two data


for finance press: 0
for manufacturing press: 1
for communication press: 2
for total press: 3
Your input = 1
for northest press: 1
for southest press: 2
for midwest press: 3
for west press: 4
for total press: 5
Your input = 4
From the given data Union of manufacturing and west is 0.5
##################################################



Read the Instruction before entering input


For UNION Press 1
For INTERSECTION Press 2
For EXIT Press 3


Your input = 3
I THINK YOU GET YOUR ANSWER
THANK YOU FOR CHECKING THIS CODE